<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Amazona</title>
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <div class="grid-container">
            <header class="header">
                <div class="brand">
                    <a href="index.html">amazon</a>
                </div>
                <div class="header-links">
                    <a href="cart.html">carts</a>
                    <a href="signing.html">Sign in</a>
                </div>
            </header>

            <main class="main">
                <div class="content">
                    <ul class="products">
                        <li>
                            <div class="product">
                                <img
                                    class="product-image"
                                    src="images/d1.jpg"
                                    alt="product"
                                />
                                <div class="product-name">
                                    <a href="index.html">Slin Shirt</a>
                                </div>
                                <div class="product-brand">Nike</div>
                                <div class="product-price">$60</div>
                                <div class="product-rating">
                                    4.5 Stars (10 Reviwes)
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="product">
                                <img
                                    class="product-image"
                                    src="images/d1.jpg"
                                    alt="product"
                                />
                                <div class="product-name">
                                    <a href="index.html">Slin Shirt</a>
                                </div>
                                <div class="product-brand">Nike</div>
                                <div class="product-price">$60</div>
                                <div class="product-rating">
                                    4.5 Stars (10 Reviwes)
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="product">
                                <img
                                    class="product-image"
                                    src="images/d1.jpg"
                                    alt="product"
                                />
                                <div class="product-name">
                                    <a href="index.html">Slin Shirt</a>
                                </div>
                                <div class="product-brand">Nike</div>
                                <div class="product-price">$60</div>
                                <div class="product-rating">
                                    4.5 Stars (10 Reviwes)
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="product">
                                <img
                                    class="product-image"
                                    src="images/d1.jpg"
                                    alt="product"
                                />
                                <div class="product-name">
                                    <a href="index.html">Slin Shirt</a>
                                </div>
                                <div class="product-brand">Nike</div>
                                <div class="product-price">$60</div>
                                <div class="product-rating">
                                    4.5 Stars (10 Reviwes)
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="product">
                                <img
                                    class="product-image"
                                    src="images/d1.jpg"
                                    alt="product"
                                />
                                <div class="product-name">
                                    <a href="index.html">Slin Shirt</a>
                                </div>
                                <div class="product-brand">Nike</div>
                                <div class="product-price">$60</div>
                                <div class="product-rating">
                                    4.5 Stars (10 Reviwes)
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="product">
                                <img
                                    class="product-image"
                                    src="images/d1.jpg"
                                    alt="product"
                                />
                                <div class="product-name">
                                    <a href="index.html">Slin Shirt</a>
                                </div>
                                <div class="product-brand">Nike</div>
                                <div class="product-price">$60</div>
                                <div class="product-rating">
                                    4.5 Stars (10 Reviwes)
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </main>
            <footer class="footer">
                all right reserved
            </footer>
        </div>
    </body>
</html>
