<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Amazona</title>
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <div class="grid-container">
            <header class="header">
                <div class="brand">
                    <a href="index.html">amazon</a>
                </div>
                <div class="header-links">
                    <a href="cart.html">carts</a>
                    <a href="signing.html">Sign in</a>
                </div>
            </header>

            <main class="main">
                <ul>
                    <li>product1</li>
                    <li>product2</li>
                    <li>product3</li>
                    <li>product4</li>
                    <li>product5</li>
                </ul>
            </main>
            <footer class="footer">
                all right reserved
            </footer>
        </div>
    </body>
</html>
